repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.7
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/adamtheturtle/doccmd-pre-commit
    rev: v2025.4.8
    hooks:
    -   id: doccmd
        args: ["--language", "python", "--no-pad-file", "--no-use-pty", "--command", "ruff format", "docs/"]